<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219692912450-ck7oueaai6mv1h9ggt0oivi7jbi5rh6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219692912450-ck7oueaai6mv1h9ggt0oivi7jbi5rh6t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>219692912450-62b4rb31hnc7fbsrvd59057p29qf2046.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJO51pIcrdVa6HEiXGzHExedHO1nXQ92Q</string>
	<key>GCM_SENDER_ID</key>
	<string>219692912450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ammar.crudOperation</string>
	<key>PROJECT_ID</key>
	<string>crud-operation-63aea</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-operation-63aea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219692912450:ios:d81c98eac677951f7242db</string>
	<key>DATABASE_URL</key>
	<string>https://crud-operation-63aea-default-rtdb.firebaseio.com</string>
</dict>
</plist>